<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant Catalogue">
    <link rel="icon" href="./favicon.png">
    <meta name="theme-color" content="#181D31">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>
    <title>Hangout | Restaurant Catalogue</title>
  </head>

  <body>
    <!-- Skip Link -->
    <a href="#mainContent" class="skip-link">Skip to content</a>

    <!-- Header -->
    <header class="navbar">
      <div class="navbar-menu">
        <button id="hamburgerButton" aria-label="hamburgerButton">☰</button>
      </div>

      <!-- Navbar -->
      <div class="navbar-brand">
        <h1>Hangout!</h1>
      </div>

      <nav id="navigationDrawer" class="navbar-nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://yoga-tirta.github.io" target="_blank" rel="noopener noreferrer">About</a></li>
        </ul>
      </nav>
    </header>

    <!-- Main Content -->
    <main id="mainContent" tabindex="0"></main>

    <!-- Custom Footer -->
    <footer>
      <custom-footer></custom-footer>
    </footer>
  </body>
</html>